@import "normalized.css";

.icon{
    width : 6em;
    height: auto;    
}

nav {
    font-size: 1em;
    background-color: bisque;
    height : 4em;
    display : flex;
    flex-direction: row;
    flex-wrap : nowrap;
    justify-content: space-between;
    flex-grow : 1;
    text-align: center;
}